---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].bio | default: "Biograhpy" }}</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].current_project | default: "Current Project(s)" }}</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].past_projects | default: "Past Projects" }}</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].exp | default: "Experience" }}</h3>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].edu | default: "Education" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
